# Contains configurations specific to the MariaDB server daemon
[mysqld]


# Improves performance of the docker (disables AIO because not
# needed in this project)
innodb_use_native_aio=0


# Since Inception doesn't require replication or
# point-in-time recovery, enabling binary logging is unnecessary
# Saves disk space in containerized environment
skip-log-bin

# Runs mysqld as root user (avoids permission issues)
user                    = root

# Contain process PID for process management 
pid-file                = /run/mysqld/mysqld.pid

# Where MariaDB is installed
basedir                 = /usr

# Where mairaDB stores its database files
datadir                 = /var/lib/mysql

# Where temporary files are stored (automatically cleaned up later)
tmpdir                  = /tmp

# Defines which IP address mariaDB listens on (this is an alias)
bind-address            = mariadb

# Supports all characters (unicode included)
character-set-server  = utf8mb4

# How strings are compared/handled (No uppercases -> ci)
# simple ASCII compararisions, faster
collation-server      = utf8mb4_general_ci
